.sec1-heading{
    text-align: center;
    padding-top: 78px;
}
.take{
    font-family: var(--mansalva);
    color: var(--blue);
    font-weight: 400;
    line-height: 33px;
}
.ideas{
    font-family: var(--palanquin);
    color: var(--primary);
    font-weight: 700;
}
@media(min-width: 768px){
    .take{
        font-size: 30px;
    }
    .ideas{
        font-size: 50px;
    }
}